
@{
    ViewBag.Title = "商品详情";
    Layout = "~/Views/LayoutPage.cshtml";
}
@model com.jiechengbao.wx.Models.GoodsModel
<style>
    .thumbnail img{
        width:100%;
        height:230px;
    }
    .p-red{
        color:red;
    }
    .thumbnail a{
        border-color:red;
        color:red;
    }
    .p-gray s{
        color:#515151;
    }
</style>
<div class="thumbnail">
    <img src="/Uploads/@Model.PicturePath">
    <div class="caption">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
        <p class="p-gray"><s>原价:￥@Model.OriginalPrice</s></p>
        <p class="p-red"><strong>￥@Model.Price</strong></p>
        <p class="p-red">折扣:@Model.Discount</p>
        @if (Model.ServiceCount>0)
        {
            <p>服务次数:@Model.ServiceCount</p>

        }
        <p><a href="javascript:;" class="btn btn-default" role="button" onclick="AddtoCart('@Model.Code')">加入购物车</a></p>
    </div>
</div>
<script>
    function AddtoCart(code) {
        $.ajax({
            url: "/Cart/Add",
            data: {
                goodsCode:code
            },
            type: "POST",
            success: function (data) {
                if (data == "True")
                {
                    mui.alert("添加成功");
                    $(".icon-cart").append("<span class=\"mui-badge navbar-badge\"></span>");
                    //$("#btn_AddToCar").attr("disabled",true);
                    //$("#btn_AddToCar").addClass("Unclickabled");
                }
                else{
                    alert("加入购物车失败");
                }
            }
        });
    }
</script>