

@using com.jiechengbao.wx.Models

@if (ViewData["GoodsModelList"]==null || (ViewData["GoodsModelList"] as List<GoodsModel>).Count <= 0)
{
    <p class="title">暂无数据</p>
}
@foreach (var item in ViewData["GoodsModelList"] as List<GoodsModel>)
{
    <div class="goods-item">
        <img src="/Uploads/@item.PicturePath" id="@item.Code" />
        <div class="goods-item-title">@item.Name</div>
        <div class="goods-item-cont">
            @item.Description
        </div>
        <div class="goods-item-remark">
            <div class="goods-item-money">
                <small style="color:#808080;">原价<del>￥@item.OriginalPrice </del></small> 现价 ￥@item.Price
            </div>
            <div class="goods-item-grade">
                积分：@item.ExchangeCredit
            </div>
            <div class="goods-item-perchase">
                <span class="cart-iconfont cart-iconcartplus" id="@item.Code"></span>
            </div>
        </div>
    </div>
}
<script>
    var wid = $(".goods-item").width();
    $(".goods-item img").css({
        "height": wid * 0.7
    });
    $(".cart-iconcartplus").on("tap",function () {
        //create a boll
        var img_x = $(this).offset().left;
        var img_y = $(this).offset().top;
        var circle = $(this).clone().css('opacity', '0.8');
        $("body").append(circle);
        circle.removeClass("cart-iconcartplus");

        // create a animate
        circle.css({
            "position": "absolute",
            "width": "20px",
            "height": "20px",
            "border-radius": "10px",
            "color": "red",
            "background": "red",
            "font-family": "宋体",
            "top": img_y + "px",
            "left": img_x + "px"
        });
        circle.animate({
            left: $(".small").offset().left * 1.1,
            top: $(".small").offset().top,
            width: 10,
            height: 10
        }, 500, function () {
            circle.remove();
        });

        // toggle the ajax()
        var code = $(this).attr("id");
        $.ajax({
            url: "/Cart/Add",
            type: "POST",
            data: {
                goodsCode: code
            },
            success: function (data) {
                if (data.code == true && data.count > 0) {
                    $(".icon-cart").append("<span class=\"mui-badge navbar-badge\">" + data.count + "</span>");
                }
                else {
                    alert("添加购物车失败");
                }
            },
            error: function () {
                alert("系统错误， 添加购物车失败");
            }
        });
    });
    $("img").on("tap", function () {
        var code = $(this).attr("id");
        window.location.href = "/Home/Detail?code=" + code;
    });
</script>