
@{
    ViewBag.Title = "商城首页";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity
<link href="~/Content/css/iconfont-cartplus.css" rel="stylesheet" />
<style>
    .goods-list{
        height:100%;
    }
    .title{
        text-align:center;
        position:relative;
        margin-top:50px;
    }
</style>
    <div class="goods-show">
        <div class="goods-list">
            @Html.Partial("GoodsList")
        </div>
    </div>
    <div class="blank">
        &nbsp;
    </div>
<script>

    $(document).ready(function () {
        $("#atogoods").addClass("mui-active");

        var cache = window.localStorage;
        var category = cache.getItem("category");

        $("#" + category + " .goods-menu-item").addClass("goods-menu-item-active");

        $.ajax({
            url: "/Home/GoodsList",
            type: "POST",
            data: {
                category: category
            },
            success: function (data) {
                $(".goods-list").html(data);
            },
            error: function () {
                $(".goods-list").html("<p class='title'>暂无数据</p>");
            },
            beforeSend: function () {
                $('.mask').show();
            },
            complete: function () {
                $('.mask').hide();
            }
        });
    });

    $(".CategoryItem").on('tap', function () {
        var cache = window.localStorage;
        var Id = $(this).attr("id");
        cache.setItem("category", Id);

        $.ajax({
            url: "/Home/GoodsList",
            type: "POST",
            data: {
                category: Id
            },
            success: function (data) {
                $(".goods-list").html(data);
            },
            error: function () {
                $(".goods-list").html("<p class='title'>暂无数据</p>");
            },
            beforeSend: function () {
                $('.mask').show();
            },
            complete: function () {
                $('.mask').hide();
            }
        });
    });

    $(".goods-menu-item").on("click", function () {
        $(".goods-menu-item").removeClass("goods-menu-item-active");
        $(this).addClass("goods-menu-item-active");
    });
</script>