
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/LayoutPage2.cshtml";
}
<style type="text/css">
    body {
        background-color: #fff;
    }

    .blank_block {
        height: 100px;
    }
</style>
<div class="container" style="padding:0px;margin:0px;width:100%;">
    <iframe src="/maptest.html" class="col-xs-12" allowtransparency="true" frameborder="false" style="width:100%;padding:0px;"></iframe>
</div>
<ol class="breadcrumb">
    <li><strong>救援电话</strong></li>
</ol>
<div class="mui-content-padded">
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label>救援电话</label>
            <input type="text" class="mui-input-clear" disabled placeholder="input" value="15889523622">
        </div>
        <div class="mui-button-row">
            <a href="tel://15889523622" class="mui-btn mui-btn-green">拨打电话</a>
        </div>
    </form>
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label>交警电话</label>
            <input type="text" class="mui-input-clear" disabled placeholder="input" value="122">
        </div>
        <div class="mui-button-row">
            <a href="tel://122" class="mui-btn mui-btn-green">拨打电话</a>
        </div>
    </form>
</div>
<div class="mui-content-padded">
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label>保险公司</label>
            <select class="phone">
                <option>中国人保：95518</option>
                <option>中国人寿：95519</option>
                <option>太平洋保险：95500</option>
                <option>平安保险：95511</option>
                <option>中华联合保险：95585</option>
                <option>大地保险：95590</option>
                <option>天安保险：95505</option>
                <option>华泰保险：95509</option>
                <option>永安保险：95502</option>
                <option>华安保险：95556</option>
                <option>安邦保险：95569</option>
                <option>阳光保险：95510</option>
                <option>太平保险：95589</option>
                <option>永城保险：95552</option>
                <option>长安责任保险：95592</option>
                <option>大众保险：96012345</option>
                <option>中银保险：400-699-5566</option>
                <option>都邦保险：400-889-5586</option>
                <option>渤海保险：400-611-6666</option>
                <option>众诚保险：400-860-0600</option>
                <option>富邦财险：400-881-7518</option>
                <option>英大财险：400-018-8688</option>
                <option>锦泰保险：400-866-6555</option>
            </select>
        </div>
        <div class="mui-button-row">
            <a href="tel://95518" class="mui-btn mui-btn-green a-phone">拨打电话</a>
        </div>
    </form>
</div>
<script>

			$(".phone").on("change",function(){
				var value= "tel://"+$(".phone").find("option:selected").text().split('：')[1];
				console.log(value);
				$(".a-phone").attr("href",value);
			})
</script>