
@{
    ViewBag.Title = "个人信息";
    Layout = "~/Views/LayoutPage2.cshtml";
}
@model com.jiechengbao.entity.Member
<style>
    html,
    body {
        background-color: #efeff4;
    }

    .mui-table-view {
        margin-top: 20px;
    }

        .mui-table-view span.mui-pull-right {
            color: #999;
        }

    .head-img {
        width: 56px;
        height: 56px;
    }

    .recharge-btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .recharge-li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .toleft {
        margin-right: 20px;
    }
</style>
<ul class="mui-table-view mui-table-view-chevron">
    <li class="mui-table-view-cell mui-media">
        <a class="mui-navigate-right" href="#">
            <img class="mui-media-object mui-pull-left head-img" id="head-img" src="@Model.HeadImage">
            <div class="mui-media-body">
                @Model.NickeName
                <p>vip:@Model.Vip</p>
            </div>
        </a>
    </li>
</ul>

<ul class="mui-table-view">
    <li class="mui-table-view-cell">
        @if (string.IsNullOrEmpty(Model.Phone))
        {
            <a href="/UserInfo/Phone" class="mui-navigate-right">电话<span class="mui-pull-right toleft">未绑定</span></a>
        }
        else
        {
            <a href="/UserInfo/Phone" class="mui-navigate-right">电话<span class="mui-pull-right toleft">@Model.Phone</span></a>
        }

    </li>
    @*<li class="mui-table-view-cell">
        <a href="#" class="mui-navigate-right">QQ号<span class="mui-pull-right toleft">未绑定</span></a>
    </li>

    <li class="mui-table-view-cell">
        <a href="#" class="mui-navigate-right">邮箱地址<span class="mui-pull-right toleft">未绑定</span></a>
    </li>*@
    <li class="mui-table-view-cell">
        <a href="/Address/List" class="mui-navigate-right">配送地址<span class="mui-pull-right"></span></a>
    </li>
</ul>

<ul class="mui-table-view">
    <li class="mui-table-view-cell">
        <a href="/UserInfo/MyServices" class="mui-navigate-right">我的服务</a>
    </li>
    <li class="mui-table-view-cell">
        <a href="/UserInfo/MyCreditServices" class="mui-navigate-right">我的积分<span class="mui-pull-right toleft">@Model.Credit</span></a>
    </li>
</ul>
<ul class="mui-table-view">
    <li class="mui-table-view-cell">
        <a href="/CreditMoll/List" class="mui-navigate-right">积分商城</a>
    </li>
</ul>
<ul class="mui-table-view">
    <li class="mui-table-view-cell">
        <a>我的余额<span class="mui-pull-right toleft">￥@Model.Assets</span></a>
    </li>
    <li class="mui-table-view-cell">
        <a href="/UserInfo/RechargeList" class="mui-navigate-right">充值记录</a>
    </li>
    <li class="mui-table-view-cell">
        <a href="/UserInfo/TransactionRecordList" class="mui-navigate-right">消费记录</a>
    </li>
    <li class="recharge-li">
        <button class="mui-btn recharge-btn btn-danger" onclick="Go('/UserInfo/RechargeOptionsList')">充值</button>
    </li>
</ul>

<script>
    function Go(url) {
        window.location.href = url;
    }
</script>
