
@{
    ViewBag.Title = "个人信息";
    Layout = "~/Views/LayoutPage2.cshtml";
}
@model com.jiechengbao.entity.Member
<style>
    html,
    body {
        background-color: #efeff4;
    }

    .mui-table-view {
        margin-top: 20px;
    }

        .mui-table-view span.mui-pull-right {
            color: #999;
        }

    .head-img {
        width: 40px;
        height: 40px;
    }
    .recharge-btn{
        width:100%;
        margin-top:10px;
        margin-bottom:10px;

    }
    .recharge-li{
        padding-left:10px;
        padding-right:10px;
    }
</style>
<ul class="mui-table-view mui-table-view-chevron">
    <li class="mui-table-view-cell mui-media">
        <div class="mui-navigate-right">
            <img class="mui-media-object mui-pull-left head-img" id="head-img" src="/Uploads/@Model.HeadImage">
            <div class="mui-media-body">
                @Model.NickeName
                <p>vip:@Model.Vip</p>
            </div>
        </div>
    </li>
</ul>

<ul class="mui-table-view mui-table-view-chevron">
    <li class="mui-table-view-cell">
        
        @if (string.IsNullOrEmpty(Model.Phone))
        {
            <a href="/UserInfo/Phone" class="mui-navigate-right">电话<span class="mui-pull-right">未绑定</span></a>
        }
        else
        {
            <a href="/UserInfo/Phone" class="mui-navigate-right">电话<span class="mui-pull-right">@Model.Phone</span></a>
        }

    </li>
    <li>
        <a href="/UserInfo/MyServices" class="mui-navigate-right">我的服务</a>
    </li>
</ul>

<ul class="mui-table-view mui-table-view-chevron">
    <li class="mui-table-view-cell">
        <a href="/UserInfo/Recharge" class="mui-navigate-right">余额<span class="mui-pull-right">￥@Model.Assets</span></a>
    </li>
    <li class="recharge-li">
        <button class="mui-btn recharge-btn" onclick="Go('/UserInfo/RechargeOptionsList')">充值</button>
    </li>
</ul>

<script>
    function Go(url) {
        window.location.href = url;
    }
</script>