
@{
    ViewBag.Title = "RechargeOptionsList";
    Layout = "~/Views/LayoutPage2.cshtml";
}
<div class="mui-card">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-radio mui-left">
            <input name="money" type="radio" value="100">￥100
        </li>
        <li class="mui-table-view-cell mui-radio mui-left">
            <input name="money" type="radio" value="500">￥500
        </li>
        <li class="mui-table-view-cell mui-radio mui-left">
            <input name="money" type="radio" value="1000">￥1000
        </li>
        <li class="mui-table-view-cell mui-radio mui-left">
            <input name="money" type="radio" value="1500">￥1500
        </li>
        <li class="mui-table-view-cell mui-radio mui-left">
            <input name="money" type="radio" value="2000">￥2000
        </li>
        <li class="mui-table-view-cell mui-radio mui-left">
            <input name="money" type="radio" value="2500">￥2500
        </li>
        <li class="mui-table-view-cell mui-radio mui-left">
            <input name="money" type="radio" value="3000">￥3000
        </li>
    </ul>

    <button type="button" class="mui-btn mui-btn-danger mui-btn-block">微信充值</button>
</div>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    function wxRecharge() {
        var money = $("input[name='money']:checked").val();
        if (money ==undefined || money<=0) {
            mui.alert("请选择一项充值金额充值");
        }
        else {
            window.location.href = "/Pay/RechargePay?money=" + money + "&ip=" + returnCitySN["cip"];
        }
    }
</script>