
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServerError</title>
    <style>
        .container h2 {
            text-align: center;
            position: relative;
            top: 45%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>系统内部错误...</h2>
    </div>
</body>
</html>