
@{
    ViewBag.Title = "余额支付";
    Layout = "~/Views/LayoutPage.cshtml";
}
@model com.jiechengbao.entity.Order
<style>
    .mui-btn-block {
        padding: 10px;
        font-size: 15px;
        margin-top: 10px;
    }

    .mui-table-view span.mui-pull-right {
        color: #999;
    }

    .mui-table-view {
        margin-top: 20px;
    }
</style>
<ul class="mui-table-view mui-table-view-chevron">
    <li class="mui-table-view-cell">
        <a>订单号:<span class="mui-pull-right order-span">@Model.OrderNo</span></a>
    </li>
    <li class="mui-table-view-cell">
        <a>支付金额:<span class="mui-pull-right money-span">￥@Model.TotalPrice</span></a>
    </li>
</ul>
<button id="confirmBtn" type="button" class="mui-btn mui-btn-danger mui-btn-block">立即支付</button>

<script>
    document.getElementById("confirmBtn").addEventListener('tap', function () {
        var btnArray = ['否', '是'];
        mui.confirm('是否确定要此订单支付 ' +@Model.TotalPrice +' 元', '订单支付', btnArray, function (e) {
            if (e.index == 1) {
                $.ajax({
                    url: "/Pay/Pay",
                    type: "POST",
                    data: {
                        orderNo: $('.order-span').text()
                    },
                    success: function (data) {
                        mui.alert(data.msg, "余额支付");
                        window.location.href = "/Order/List?type=1";
                    },
                    error: function () {
                        mui.alert("支付失败", "余额支付");
                    }
                });
            }
        })
    });
</script>