
@{
    ViewBag.Title = "消费服务";
    Layout = "~/Views/LayoutPage2.cshtml";
}
@model com.jiechengbao.wx.Models.ServiceModel

<style>
    .mui-btn-block {
        padding: 10px;
        font-size: 15px;
        margin-top: 10px;
    }

    .mui-table-view span.mui-pull-right {
        color: #999;
    }

    .mui-table-view {
        margin-top: 20px;
    }
</style>

<div class="mui-content-padded">
    <p>您是否确定要为【@Model.MemberName】用户的【@Model.ServiceName】服务的服务次数减1?</p>
    <p>如果是则点击下方按钮减掉该用户的 @Model.ServiceName 服务的使用次数，如果不是则请关掉页面</p>
    <button id='promptBtn' class="mui-btn mui-btn-block" type='button'>点击消费服务次数</button>
</div>
<script>
    document.getElementById("promptBtn").addEventListener('tap', function (e) {
        e.detail.gesture.preventDefault(); 
        var btnArray = ['取消', '确定'];
        mui.prompt('请输入服务消费密码：', '服务消费密码', '系统通知', btnArray, function (e) {
            if (e.index == 1) {
                $.ajax({
                    url: "/Pay/ConsumeService",
                    type: "POST",
                    data: {
                        serviceId: '@Model.ServiceId',
                        password: e.value
                    },
                    success:function(data) {
                        if (data == "False") {
                            mui.alert("服务消费失败");
                        }
                        else if(data == "PasswordError") {
                            mui.alert("服务消费密码错误");
                        }
                        else {
                            mui.alert("消费成功");
                        }
                    }
                })
            } 
        })
    });

    $(document).ready(function () {
        $("#atoorder").addClass("mui-active");
    })
</script>