
@{
    ViewBag.Title = "MyServiceQR";
    Layout = "~/Views/LayoutPage2.cshtml";
}
@model com.jiechengbao.entity.ServiceQR

<style>
    .mui-content-padded{
        text-align:center;
    }
    .qrView{
        max-height:250px;
        max-width:250px;
    }
</style>
<div class="mui-content-padded">
    <p>
        <img class="qrView" src="/QR/@Model.QRPath"/>
    </p>
</div>