
@{
    ViewBag.Title = "微信支付";
    Layout = "~/Views/LayoutPage.cshtml";
}
<style>
    .mui-btn-block {
        padding: 10px;
        font-size: 15px;
        margin-top: 10px;
    }

    .mui-table-view span.mui-pull-right {
        color: #999;
    }

    .mui-table-view {
        margin-top: 20px;
    }
</style>

<ul class="mui-table-view mui-table-view-chevron">
    <li class="mui-table-view-cell">
        <a>订单号:<span class="mui-pull-right order-span">@ViewBag.OrderNo</span></a>
    </li>
    <li class="mui-table-view-cell">
        <a>支付金额:<span class="mui-pull-right money-span">￥@ViewBag.TotalPrice</span></a>
    </li>
</ul>
<button id="confirmBtn" type="button" class="mui-btn mui-btn-danger mui-btn-block">立即支付</button>

<script type="text/javascript">
    //调用微信JS api 支付
    function jsApiCall()
    {

        WeixinJSBridge.invoke(
        'getBrandWCPayRequest',
        @Html.Raw(ViewData["JsonResult"] as string),
         function (res)
         {
             WeixinJSBridge.log(res.err_msg);
             if (res.err_msg == "get_brand_wcpay_request:ok") {
                 mui.alert("支付成功");
             }
             else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                 mui.alert("已取消微信支付");
             }
             else {
                 mui.alert("微信支付失败");
             }
         }
         );
    }

    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined")
        {
            if (document.addEventListener)
            {
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }
            else if (document.attachEvent)
            {
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }
        else
        {
            jsApiCall();
        }
    }

    document.getElementById("confirmBtn").addEventListener('tap', function () {
        var btnArray = ['否', '是'];
        mui.confirm('是否确定要此订单支付 ' +@ViewBag.TotalPrice +' 元', '订单支付', btnArray, function (e) {
            if (e.index == 1) {
                callpay();
            }
        })
    });
</script>

