
@{
    ViewBag.Title = "PassswordSetting";
    Layout = "~/Views/LayoutPage.cshtml";
}
<div class="container">
    <form class="form-inline">
        <div class="form-group">
            <input type="password" name="serviceCousumePassword" class="form-control" id="exampleInputPassword3" placeholder="服务消费密码" value="@ViewBag.password">
        </div>
        <button type="button" onclick="Submit();" class="btn btn-default">修改密码</button>
    </form>
</div>

<script>
    function Submit() {
        $.ajax({
            url: "/Service/UpdatePassword",
            type: "POST",
            data: {
                password: $("input[name='serviceCousumePassword']").val()
            },
            success: function (data) {
                if (data == "True")
                {
                    alert("修改密码成功");
                }
                else {
                    alert("修改密码失败");
                }
            },
            error: function() {
                alert("ERROR");
            }
        })
    }
</script>