@{
    ViewBag.Title = "PasswordSetting";
    Layout = "~/Views/LayoutPage.cshtml";
}
@*<link href="~/Content/css/content.css" rel="stylesheet" />*@

<ol class="breadcrumb">
    <li><a href="/Home/Index">管理后台</a></li>
    <li class="active">服务消费密码设置</li>
</ol>
<div class="container-fluid">
    <div class="col-md-12 title">
        服务消费密码
    </div>
</div>
<div class="container-fluid">
    <form class="form-inline">
        <div class="form-group">
            <input type="password" name="serviceCousumePassword" id="exampleInputPassword3" placeholder="服务消费密码" class="form-control" value="@ViewBag.password">
        </div>
        <button class="btn btn-danger" onclick="Submit();" type="button">修改密码</button>
    </form>
</div>
@*<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/Home/Index">管理后台</a></li>
            <li class="active">服务消费密码设置</li>
        </ol>

        <div class="container-fluid">
            <div class="col-md-12 div-title">
                <ol class="breadcrumb">
                    <li>服务消费密码</li>
                </ol>
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <input type="password" name="serviceCousumePassword" class="form-control" id="exampleInputPassword3" placeholder="服务消费密码" value="@ViewBag.password">
                </div>
                <button type="button" onclick="Submit();" class="btn btn-default">修改密码</button>
            </form>
        </div>
    </div>
</div>*@

<script>
    function Submit() {
        $.ajax({
            url: "/Service/UpdatePassword",
            type: "POST",
            data: {
                password: $("input[name='serviceCousumePassword']").val()
            },
            success: function (data) {
                if (data == "True") {
                    alert("修改密码成功");
                }
                else {
                    alert("修改密码失败");
                }
            },
            error: function () {
                alert("ERROR");
            }
        })
    }
</script>
<script>
    $(document).ready(function () {
        $("#li-servicepassword").parent().parent().removeClass("collapse");
    })
</script>