
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/LayoutPage.cshtml";
}
<link href="~/Content/css/content.css" rel="stylesheet" />
<style>
    /*.container-btn {
        padding-left: 20px;
        padding-right: 20px;
    }

        .container-btn button {
            margin-right: 10px;
        }

    .container-add-followitem {
        padding-left: 0px;
    }

        .container-add-followitem form {
            padding-left: 0px;
        }*/
</style>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">账户设置</li>
        </ol>

        <div class="container-fluid">
            <div class="col-md-12 div-title">
                <ol class="breadcrumb">
                    <li>账户密码修改</li>
                </ol>
            </div>

            <div>
                <div class="container-fluid container-add-followitem">
                    <form class="navbar-form navbar-left" id="password-form">
                        <div class="form-group">
                            <input type="password" name="oldpassword" class="form-control" placeholder="旧密码" required data-bv-notempty-message="旧密码不能为空">
                        </div>
                        <div class="form-group">
                            <input type="password" name="newpassword" class="form-control" placeholder="新密码" required data-bv-notempty-message="新密码不能为空">
                        </div>
                        <button type="button" class="btn btn-primary" onclick="ChangePassword();">修改</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<label>
    密码修改
</label>*@

<script src="~/Content/js/bootstrapValidator.min.js"></script>
<script>
    $(document).ready(function() {
        $("#li-password").addClass("a-active");
        $("#li-password").parent().parent().removeClass("collapse");
    })
    function ChangePassword() {

        $('#password-form').bootstrapValidator();

        var bootstrapValidator = $('#password-form').data('bootstrapValidator'); // 获得 bootstrapValidator实例
        bootstrapValidator.validate(); // 手动验证

        // 判断是否验证通过
        if (bootstrapValidator.isValid()) {
            var oldpassword = $("input[name='oldpassword']").val();
            var newpassword = $("input[name='newpassword']").val();
            $.ajax({
                url: "/Account/ResetPassword",
                type: "POST",
                data: {
                    oldpassword: oldpassword,
                    newpassword: newpassword
                },
                success: function (data) {
                    if (data == "True") {
                        alert("修改密码成功");
                        window.history.go(-1);
                    }
                    else {
                        alert("修改密码失败");
                    }
                }
            });
        }
    }
</script>
