
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/LayoutPage.cshtml";
}

<style>
    .container-btn {
        padding-left: 20px;
        padding-right: 20px;
    }

        .container-btn button {
            margin-right: 10px;
        }

    .container-add-followitem {
        padding-left: 0px;
    }

        .container-add-followitem form {
            padding-left: 0px;
        }
</style>
<label>
    密码修改
</label>
<div class="navbar">
    <div class="container container-add-followitem">
        <form class="navbar-form navbar-left" id="password-form">
            <div class="form-group">
                <input type="password" name="oldpassword" class="form-control" placeholder="旧密码" required data-bv-notempty-message="旧密码不能为空">
            </div>
            <div class="form-group">
                <input type="password" name="newpassword" class="form-control" placeholder="新密码" required data-bv-notempty-message="新密码不能为空">
            </div>
            <button type="button" class="btn btn-primary" onclick="ChangePassword();">添加</button>
        </form>
    </div>
</div>
<script src="~/Content/js/bootstrapValidator.min.js"></script>
<script>

    function ChangePassword() {

        $('#password-form').bootstrapValidator();

        var bootstrapValidator = $('#password-form').data('bootstrapValidator'); // 获得 bootstrapValidator实例
        bootstrapValidator.validate(); // 手动验证

        // 判断是否验证通过
        if (bootstrapValidator.isValid()) {
            var oldpassword = $("input[name='oldpassword']").val();
            var newpassword = $("input[name='newpassword']").val();
            $.ajax({
                url: "/Account/ResetPassword",
                type: "POST",
                data: {
                    oldpassword: oldpassword,
                    newpassword: newpassword
                },
                success: function (data) {
                    if (data == "True") {
                        alert("修改密码成功");
                        window.history.go(-1);
                    }
                    else {
                        alert("修改密码失败");
                    }
                }
            });
        }
    }
</script>