<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table-expandable.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrapValidator.min.js"></script>
    <script src="~/Content/js/bootstrap-table-expandable.js"></script>
    <style>
        html body {
            font-family: 'Microsoft YaHei';
            width:100%;
            height:100%;
            padding:0;
            margin:0;
        }

            html body a {
                color: #000;
            }

        .page-header {
            margin: 0px;
        }

        .header {
            padding-bottom: 20px;
        }

        .active {
            background: #EEEEEE;
        }

        .footer {
            margin-top: 100px;
            text-align: center;
        }

        .navbar {
            margin-bottom: 10px;
        }

        .alert-error {
            background-color: #F2DEDE;
            border-width: 1px;
            border-radius: 3px;
            border-style: solid;
            border-color: #EED3D7;
            color: #B94A48;
        }
        img{
            max-height:56px;
            max-width:56px;
        }
        
    .mask {
        position: relative;
        z-index: 999;
        opacity: 0.6;
        filter: alpha(opacity: 50);
        top: 0;
        width: 100% !important;
        height: 100% !important;
        text-align: center;
        vertical-align:middle;
        background:#808080;
    }
    .mask .div-image{
        width:50px;
        height:50px;
        margin:0 auto;
    }
        .mask .div-image img {
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div class="mask" hidden>
        <div class="div-image"><img src="~/Content/images/waiting.gif" /></div>
    </div>
    <div class="container-fluid header">
        <div class="page-header">
            <h2><strong>捷诚宝</strong> <small>管理后台</small></h2>
        </div>
    </div>
    <div class="navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="nav-li-home">
                    <a href="/Home/Index">首页</a>
                </li>
                <li class="nav-li-home">
                    <a href="/Member/List">会员管理</a>
                </li>

                <li class="nav-li-home">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">订单管理</a>
                    <ul class="dropdown-menu">
                        <li><a href="/Order/Completed">已完成订单</a></li>
                        <li><a href="/Order/UnCompleted">未完成订单</a></li>
                    </ul>
                </li>
                <li class="nav-li-home">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">商品管理</a>
                    <ul class="dropdown-menu">
                        <li><a href="/Goods/List">商品列表</a></li>
                        <li><a href="/Goods/Add">添加商品</a></li>
                    </ul>
                </li>
                <li class="nav-li-home">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">商品分类</a>
                    <ul class="dropdown-menu">
                        <li><a href="/Category/List">分类列表</a></li>
                        <li><a href="/Category/Editor">编辑分类</a></li>
                    </ul>
                </li>
                <li class="nav-li-home">
                    <a href="/Car/List">客户的爱车</a>
                </li>
                <li class="nav-li-home">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">服务管理</a>
                    <ul class="dropdown-menu">
                        <li><a href="/Service/List">服务购买情况</a></li>
                        <li><a href="/Service/PasswordSetting">设置服务消费密码</a></li>
                    </ul>
                </li>

                @* 没有积分商城了 拜拜 *@
                @*<li class="nav-li-home">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">积分兑换管理</a>
                    <ul class="dropdown-menu">
                        <li><a href="/CreditMoll/List">积分兑换商品列表</a></li>
                        <li><a href="/CreditMoll/Add">添加积分兑换商品</a></li>
                    </ul>
                </li>*@
                <li class="nav-li-home">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">在线预约</a>
                    <ul class="dropdown-menu">
                        <li><a href="/Appointment/Setting">预约设置</a></li>
                        <li><a href="/Appointment/List">会员的预约</a></li>
                    </ul>
                </li>
                <li class="nav-li-home">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统设置</a>
                    <ul class="dropdown-menu">
                        <li><a href="/Member/VIPSetting">VIP规则设置</a></li>
                        <li><a href="/Account/ResetPassword">账户设置</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Account/Logout">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div class="container-fluid footer">
        <hr />
        <p><a href="#">捷诚宝</a></p>
    </div>

    @*<script>
        $(document).ready(function () {
            var currentController = window.location.pathname.split("/", 2)[1];
            if (currentController == "Admin") {
                $('.nav-li-admin').addClass("active");
            }
            else if (currentController == "Account") {
                $('.nav-li-account').addClass("active");
            }
            else if (currentController == "Member") {
                $('.nav-li-member').addClass("active");
            }
            else if (currentController == "Information") {
                $('.nav-li-information').addClass("active");
            }
            else if (currentController == "Follow") {
                $('.nav-li-follow').addClass("active");
            }
        });
    </script>*@
</body>
</html>
