
@{
    ViewBag.Title = "积分充值";
    Layout = "~/Views/LayoutPage2.cshtml";
}
<style>
    .mui-btn-block {
        padding: 10px;
        font-size: 15px;
        margin-top: 10px;
    }
    .mui-table-view{
        margin-top:20px;
    }
    .update{
        color:#999999;
    }
</style>
<ul class="mui-table-view">
    <li class="mui-table-view-cell mui-radio mui-left">
        <input name="money" type="radio" value="5000">￥5000<i class="mui-pull-right update"><small>送500积分&nbsp;&nbsp;&nbsp;&nbsp;合计5500积分</small></i>
    </li>
    <li class="mui-table-view-cell mui-radio mui-left">
        <input name="money" type="radio" value="10000">￥10000<i class="mui-pull-right update"><small>送1200积分&nbsp;&nbsp;合计11200积分</small></i>
    </li>
    <li class="mui-table-view-cell mui-radio mui-left">
        <input name="money" type="radio" value="15000">￥15000<i class="mui-pull-right update"><small>送2100积分&nbsp;&nbsp;合计17100积分</small></i>
    </li>
</ul>
<ul class="mui-table-view">
    <li class="mui-table-view-cell mui-radio mui-left">
        <input name="money" type="radio" value="20000">￥20000<i class="mui-pull-right update"><small>送3200积分&nbsp;&nbsp;合计23200积分</small></i>
    </li>
    <li class="mui-table-view-cell mui-radio mui-left">
        <input name="money" type="radio" value="25000">￥25000<i class="mui-pull-right update"><small>送4500积分&nbsp;&nbsp;合计29500积分</small></i>
    </li>
    <li class="mui-table-view-cell mui-radio mui-left">
        <input name="money" type="radio" value="30000">￥30000<i class="mui-pull-right update"><small>送6000积分&nbsp;&nbsp;合计36000积分</small></i>
    </li>
</ul>
<button type="button" class="mui-btn mui-btn-danger mui-btn-block" onclick="wxRecharge();">微信充值</button>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    function wxRecharge() {
        var money = $("input[name='money']:checked").val();
        if (money == undefined || money <= 0) {
            mui.alert("请选择一项充值金额充值");
        }
        else {
            window.location.href = "/Pay/RechargePay?money=" + money + "&ip=" + returnCitySN["cip"];
        }
    }
    $(document).ready(function () {
        $("#atoinfo").addClass("mui-active");
    })
</script>