
@{
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.wx.Models

<style>
    .mui-bar-nav {
        background-color: #ffffff;
    }

    .mui-table-view span.mui-pull-right {
        color: #999;
    }

    .mui-table-view a {
        color: #000;
    }

    .mui-table-view {
        margin-top: 10px;
    }

    .title {
        margin: 20px 15px 10px;
        color: #6d6d72;
        font-size: 15px;
    }
</style>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
@foreach (var item in ViewData["OrderList"] as List<OrderModel>)
{
    <div class="mui-control-content mui-active">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <small><a href="/Order/Detail?orderNo=@item.OrderNo">订单号:@item.OrderNo</a></small>
                <button type="button" class="mui-btn mui-btn-danger mui-btn-outlined">删除</button>
            </li>
            @foreach (var good in item.GoodsModelList)
            {
                <li class="mui-table-view-cell mui-media">
                    <a href="/Home/Detail?code=@good.GoodsCode">
                        <img class="mui-media-object mui-pull-left" src="/Upload/@good.PicturePath">
                        <div class="mui-media-body">
                            @good.GoodsName
                            <p class='mui-ellipsis'>@good.Description</p>
                            <p class='mui-ellipsis'>数量 x @good.Count</p>
                        </div>
                    </a>
                </li>

            }
            <li class="mui-table-view-cell">
                <small><a>金额:￥@item.TotalPrice<span class="mui-pull-right">@(item.Status == 0 ? "未完成" : (item.Status == 1 ? "已完成" : "已取消"))</span></a></small>
            </li>
        </ul>
    </div>
}
@if ((ViewData["OrderList"] as List<OrderModel>).Count == 0)
{
    <div class="title">您还没有产生任何交易订单，快去购买您中意的商品吧</div>
}
