
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity
@*<link href="~/Content/css/content.css" rel="stylesheet" />*@
<link href="~/Content/css/custom-styles.css" rel="stylesheet" />
@*<link href="~/Content/css/home.css" rel="stylesheet" />
<script src="~/Content/js/home.js" type="text/javascript"></script>*@
<style>
    .servicea {
        width: 60%;
        float: left;
        padding-left: 20px;
    }

    .serviceb {
        width: 60%;
        float: left;
        position: relative;
        top: 25px;
        padding-left: 20px;
    }
    /*输入框*/

    .form-control {
        width: 23% !important;
        position: relative;
        top: 5px;
    }
    /*按钮*/

    .btn {
        float: left;
        position: relative;
        left: 427px;
        top: -7px;
    }

    #btn-cancel{
        left:227px;
    }
    #btn-save{
        left:227px;
    }

    .time {
        /*border: 1px solid red;*/
        float: left;
        /*margin:10px;*/
        padding: 0px 10px;
    }

    .buta {
        position: relative;
        left: 3px;
        margin: 5px;
        /* left: 6px;
             top: 38px;*/
    }

    .butb {
        position: relative;
        left: -12px;
        margin: 5px;
        /* left: 6px;
             top: 38px;*/
    }

    .table {
        width: 100%;
    }

    .modala {
        margin-top: 147px;
    }

    .modalb {
        margin-top: 147px;
    }

    .starttime {
        position: relative;
        right: 128px;
        top: 5px;
    }

    .overtime {
        position: relative;
        right: -34px;
        top: 5px;
    }

    .selecta {
        float: left;
        position: relative;
        left: 67px;
    }

    .selectb {
        position: relative;
        left: 160px;
        top: -21px;
    }

    input[type='radio'] {
        width: 20px;
        height: 20px;
    }
    input[type='text'] {
        width:50% !important;
    }
    #myModal .modal-dialog {
        width:400px;
    }
</style>

<ol class="breadcrumb">
    <li><a href="/Home/Index">管理后台</a></li>
    <li class="active">预约服务设置</li>
</ol>

<div class="servicea">
    <div class="container-fluid">
        <button class="btn  btn-danger buta" data-toggle="modal" data-target="#myModal" onclick="Add()">新增</button>
        <button class="btn  btn-danger buta" data-toggle="modal" data-target="#myModal" onclick="Edit()">修改</button>
        <button class="btn  btn-danger buta" data-toggle="modal" data-target="#myModal" onclick="Delete()">删除</button>
    </div>
    <div class="container-fluid over div-appointmentservice">
        @Html.Partial("AppointmentServiceList")
    </div>
</div>

<div class="modal fade modala" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form class="service_form">
                    <div class="form-group">
                        <label>服务项名称</label>
                        <input type="hidden" name="Code" value="" />
                        <input type="text" class="form-control" name="ServiceName" required data-bv-notempty-message="服务项名不能为空" placeholder="请填写服务项名称">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancel" class="btn btn-default btn-Close" data-dismiss="modal">取消</button>
                <button type="button" id="btn-save" class="btn btn-danger btn-Save">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="serviceb">
    <div class="container-fluid">
        <div class="container-fluid">
            <button class="btn  btn-danger butb" data-toggle="modal" data-target="#Modal" onclick="b_add()">新增</button>
            <button class="btn  btn-danger butb" data-toggle="modal" data-target="#Modal" onclick="b_edit()">修改</button>
            <button class="btn  btn-danger butb" data-toggle="modal" data-target="#Modal" onclick="b_delete()">删除</button>
        </div>
    </div>
    <div class="container-fluid over div-appointmenttime">
        @Html.Partial("AppointmentTimeList")
    </div>
</div>

<div class="modal fade modalb" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form class="time_form">
                    <div class="form-group">
                        <label>服务时间段</label>
                        <input type="hidden" name="timeId" value="" />
                        <br />
                        <label class="starttime">开始时间</label>
                        <select name="start-time" class="form-control selecta">
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                        </select>
                        <label class="overtime">结束时间</label>
                        <select name="over-time" class="form-control selectb">
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-Close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger btn-Save">保存</button>
            </div>
        </div>
    </div>
</div>

<!--
@*<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/Home/Index">管理后台</a></li>
            <li class="active">预约服务设置</li>
        </ol>
        @Html.Partial("AppointmentServiceList")
        <hr />
        @Html.Partial("AppointmentTimeList")
    </div>
</div>
<script>
    $(document).ready(function () {
        //$("#li-appSetting").addClass("a-active");
        $("#li-appSetting").parent().parent().removeClass("collapse");
    })
</script>*@
-->

<script>

    function Edit() {
        // 获取选中的服务项
        var service = $("input[name='radio_service']:checked");
        if (service == null || service == undefined) {
            alert("请选择要编辑的服务项");
            return;
        }

        var tr = service.parent().parent();

        // 获取服务名称
        var servicename = tr.children('td').eq(1).html();

        // 服务代码 code
        var servicecode = service.val();

        // 把服务名称 和 服务代码 赋值到 模态框上
        $("input[name='ServiceName']").val(servicename);
        $("input[name='Code']").val(servicecode);

        // 显示模态框上的控件
        $('input').show();
        $("button").show();
        $('.btn-Close').html("取消");
        $('.btn-Save').html("保存");
        $('label').show();
        $('.modal-body').show();
        $(".modal-title").html("编辑服务项");

        // Save();
        $(".btn-Save").attr("onclick", "Save()");
    }

    function Save() {
        $(".service_form").bootstrapValidator('validate');
        if ($(".service_form").data('bootstrapValidator').isValid()) {
            var code = $("input[name='Code']").val();
            var servicename = $("input[name='ServiceName']").val();

            $.ajax({
                url: "/Appointment/UpdateService",
                type: "POST",
                data: {
                    Code: code,
                    ServiceName: servicename
                },
                success: function (data) {
                    if (data == "Empty") {
                        alert("提交的参数为空, 修改服务项失败");
                    }
                    else if (data == "NullObject") {
                        alert("不能获取到服务对象, 修改服务项失败");
                    }
                    else if (data == "False") {
                        alert("修改服务项失败");
                    }
                    else if (data == "True") {
                        alert("修改成功");
                        var service = $("input[name='radio_service']:checked");
                        service.parent().parent().children('td').eq(1).html(servicename);
                        $("#myModal").modal('toggle');
                    }
                },
                error: function () {
                    alert("修改服务项失败");
                }
            });
        }
    }

    function Delete() {
        console.log("start deleting");
        var service = $("input[name='radio_service']:checked");
        if (service == null || service == undefined) {
            alert("请选择想删除的服务项");
            return;
        }
        var code = service.val();

        $(".modal-title").html("是否确定要删除此商品？");
        $(".btn-Save").attr("onclick", "ConfirmDelete('" + code + "')");
        $('.btn-Close').html("关闭");
        $('.btn-Save').html("确认删除");
        $('label').hide();
        $('.modal-body').hide();
    }

    function ConfirmDelete(code) {
        $.ajax({
            url: "/Appointment/DeleteService",
            type: "POST",
            data: {
                Code: code
            },
            success: function (data) {
                if (data == "Empty") {
                    alert("提交的参数为空, 删除服务项失败");
                }
                else if (data == "NullObject") {
                    alert("找不到相应的服务项, 删除服务项失败");
                }
                else if (data == "Flase") {
                    alert("删除服务项失败");
                }
                else if (data == "True") {
                    alert("删除成功");

                    var service = $("input[name='radio_service']:checked");
                    var tr = service.parent().parent().remove();
                }
            },
            error: function () {
                alert("删除服务项失败");
            },
            complete: function () {
                $("#myModal").modal("toggle");
            }
        })
    }

    function Add() {
        $(".modal-title").html("添加信息");
        $("input[name='ServiceName']").val("");
        $("input[name='Code']").val("");
        $(".btn-Save").attr("onclick", "AddService()");
        $('input').show();
        $('button').show()
        $('.btn-Close').html("取消");
        $('.btn-Save').html("保存");
        $('label').show();
        $('.modal-body').show();
    }

    function AddService() {
        $(".service_form").bootstrapValidator('validate');
        if ($(".service_form").data('bootstrapValidator').isValid()) {
            var servicename = $("input[name='ServiceName']").val();

            $.ajax({
                url: "/Appointment/AddService",
                type: "POST",
                data: {
                    serviceName: servicename
                },
                success: function (data) {
                    if (data == "False") {
                        alert("添加新的服务项失败");
                    }
                    else if (data == "Empty") {
                        alert("提交的服务名称为空");
                    }
                    else if (data == "ExistName") {
                        alert("已存在相同的服务");
                    }
                    else if (data.res) {
                        alert("添加成功");
                        $(".service_table").append("<tr><td><input  type='radio' name='radio_service'  value='" + data.Code + "'></input></td><td>" + data.Name + "</td></tr>");
                        $("#myModal").modal('toggle');
                    }
                },
                error: function () {
                    alert("系统错误, 添加失败");
                }
            });
        }
    }

    function b_edit() {
        var timespan = $("input[name='raido_time']:checked");
        if (timespan == null || timespan == undefined) {
            alert("请选择要编辑的时间段");
            return;
        }

        var time = timespan.parent().parent().children('td').eq(1).html();
        var timearray = time.split('~');

        console.log(time);
        var starttime = timearray[0];
        var endtime = timearray[1];

        $(".selecta").val(starttime);
        $(".selectb").val(endtime);
        
        var Id = timespan.val();
        $("input[name='timeId']").val(Id);

        //$("input[name='CategoryName']").val(name);
        //$("input[name='Code']").val(code);
        //// $('input').show();
        //$("button").show();
        //$('.btn-Close').html("取消");
        //$('.btn-Save').html("保存");
        //$('label').show();
        //$('.modal-body').show();
        //if (isService == true) {
        //    $("input[type='checkbox']").attr("checked", true);
        //} else {
        //    $("input[type='checkbox']").attr("checked", false);
        //}

        $(".modal-title").html("编辑时间信息");
        $(".btn-Save").attr("onclick", "SaveTime()");
    }

    function SaveTime() {
        $(".time_form").bootstrapValidator("validate");
        if ($(".time_form").data('bootstrapValidator').isValid()) {
            var Id = $("input[name='timeId']").val();
            var StartTime = $("select[name='start-time']").find("option:checked").text();
            var EndTime = $("select[name='over-time']").find("option:checked").text();

            $.ajax({
                url: "/Appointment/UpdateTime",
                type: "POST",
                data: {
                    Id: Id,
                    starttime: StartTime,
                    endtime: EndTime
                },
                success: function (data) {
                    if (data == "Empty") {
                        alert("提交的参数为空，修改时间段失败");
                    }
                    else if (data == "NullObject") {
                        alert("不能获取到时间段对象，修改时间段失败");
                    }
                    else if (data == "Exception")
                    {
                        alert("时间段设置有异常, 修改时间段失败");
                    }
                    else if (data == "True") {
                        alert("修改时间段成功");
                        var timespan = $("input[name='raido_time']:checked");
                        timespan.parent().parent().children('td').eq(1).html(StartTime + "~" + EndTime);

                        $("#Modal").modal("toggle");
                    }
                    else if (data == "False") {
                        alert("修改时间段失败");
                    }
                }
            })
        }
    }

    function b_delete() {
        var timespan = $("input[name='raido_time']:checked");
        if (timespan == null || timespan == undefined) {
            alert("请选择要删除的服务项");
            return false;
        }

        var Id = timespan.val();

        $(".modal-title").html("是否确定要删除时间段？");
        $(".btn-Save").attr("onclick", "ConfirmDeleteTime('" + Id + "')");
        $('.btn-Close').html("关闭");
        $('.btn-Save').html("确认删除");
        $('label').hide();
        $('.modal-body').hide();
    }

    function ConfirmDeleteTime(Id) {
        $.ajax({
            url: "/Appointment/DeleteTime",
            type: "POST",
            data: {
                Id:Id
            },
            success: function(data) {
                if (data == "False") {
                    alert("删除失败");
                }
                else if (data == "True") {
                    alert("删除成功");
                    var time = $("input[name='raido_time']:checked");
                    time.parent().parent().remove();
                    $("#Modal").modal("toggle");
                }
            },
            error: function () {
                alert("系统错误, 删除失败");
            }
        })
    }

    function b_add() {
        $(".modal-title").html("添加时间信息");
        $(".selecta").val("00:00");
        $(".selectb").val("00:00");

        $("input[name='timeId']").val("");

        $(".btn-Save").attr("onclick", "AddTime()");
        // $('input').show();
        $('button').show();
        $('.btn-Close').html("取消");
        $('.btn-Save').html("保存");
        $('label').show();
        $('.modal-body').show();
    }

    function AddTime() {
        var starttime = $("select[name='start-time']").find("option:selected");
        var endtime = $("select[name='over-time']").find("option:selected");

        if (starttime==null||starttime==undefined) {
            alert("请选择开始时间");
            return false;
        }
        else if(endtime == null || starttime == undefined){
            alert("请选择结束时间");
            return false;
        }

        $.ajax({
            url: "/Appointment/AddTime",
            type: "POST",
            data: {
                TimePeriod: starttime.text() + "~" + endtime.text()
            },
            success: function(data) {
                if (data == "Empty") {
                    alert("提交的参数为空, 添加预约时间失败");
                }
                else if (data == "Exception")
                {
                    alert("添加预约时间发生异常, 添加失败");
                }
                else if (data == "False") {
                    alert("添加预约时间失败");
                }
                else {
                    alert("添加成功");
                    $(".time_table").append("<tr><td><input  type='radio' name='raido_time'  value='" + data.Id + "'></input></td><td>" + data.TimePeriod + "</td></tr>");
                    $("#Modal").modal('toggle');
                }
            },
            error: function() {
                alert("系统错误，添加预约时间失败");
            }
        })
    }

</script>