
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity

<div class="container">
    @Html.Partial("AppointmentServiceList")
</div>
<hr />
<div class="container">
    @Html.Partial("AppointmentTimeList")
</div>