
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity
<link href="~/Content/css/content.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">预约服务设置</li>
        </ol>
        @Html.Partial("AppointmentServiceList")
        <hr />
        @Html.Partial("AppointmentTimeList")
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#li-appSetting").addClass("a-active");
        $("#li-appSetting").parent().parent().removeClass("collapse");
    })
</script>
