<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/css/mui.picker.min.css" rel="stylesheet" />
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/mui.min.js"></script>
    <script src="~/Content/js/mui.picker.js"></script>
    <script src="~/Content/js/mui.poppicker.js"></script>
    <link href="~/Content/css/home.index.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.mobile-1.4.5.min.js" type="text/javascript"></script>
    <script src="~/Content/js/home.index.js" type="text/javascript"></script>
    <style>
        a:hover {
            text-decoration: none;
        }

        .navbar-fixed-bottom {
            height: 32px;
        }

            .navbar-fixed-bottom button {
                border-radius: 0px;
                border: none;
                background-color: #e5e3e3;
            }

        .hasOrders {
            display: block;
            background: #f00;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            top: 10px;
            right: 20px;
            position: absolute;
        }

        .mui-bar-nav {
            background-color: #ffffff;
        }

        .navbar-badge {
            min-width: 16px;
            min-height: 16px;
            padding: 1px !important;
        }

        #popover {
            height: 130px;
            width: 130px;
            padding: 0px;
        }

            #popover .mui-scroll-wrapper, #popover-address .mui-scroll-wrapper {
                margin-top: 0px;
                margin-bottom: 0px;
                background-color: #fff;
            }

                #popover .mui-scroll-wrapper ul, #popover .mui-scroll-wrapper ul li,
                #popover-address .mui-scroll-wrapper ul,
                #popover-address .mui-scroll-wrapper ul li {
                    background-color: #fff;
                }

                    #popover .mui-scroll-wrapper ul li a, #popover-address .mui-scroll-wrapper ul li a {
                        border: none;
                        text-decoration: none;
                    }

        #popover-address {
            height: 60px;
            width: 130px;
            padding: 0px;
        }

        .navbar-fixed-top a .mui-icon {
            width: 20px;
            height: 20px;
        }

        .mask {
            position: absolute;
            z-index: 900;
            opacity: 0.6;
            filter: alpha(opacity: 50);
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .icon-loading {
            position: absolute;
            top: 50%;
        }

            .icon-loading span {
                color: #FFFFFF;
            }
        /*.mui-content{
            margin-top:50px;
        }*/
    </style>

    <script type="text/javascript">
        var u = navigator.userAgent;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        if (isAndroid) {
            // alert("Android");
            document.write('<meta name="viewport" content="width=device-width" />');
        } else if (isiOS) {
            // alert("iOS");
            document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />');
        }

        $(document).ready(function () {
            var url = window.location.href;
            if (url == "http://jcb.ybtx88.com/Home" || url == "http://jcb.ybtx88.com/Home/Index") {
                $(".menu-con").show();
                $(".good-menu").show();
            }
        })
    </script>
    @using com.jiechengbao.entity
</head>
<body>
    <div class="mask" hidden>
        <a class="icon-loading"><span class="mui-spinner"></span></a>
    </div>
    <div class="mui-content mui-scroll-wrapper">
        <div class="menu-con" id="menu_case" hidden>
            <span>菜单</span>
        </div>
        <div class="goods-menu" hidden>
            @if (ViewData["CategoryList"] != null)
            {
                foreach (var item in ViewData["CategoryList"] as IEnumerable<Category>)
                {
                    <a href="javascript:;" class="CategoryItem" id="@item.CategoryNO">
                        <div class="goods-menu-item">
                            @item.Name
                        </div>
                    </a>
                }
            }
        </div>
        <div class="mui-scroll">
            @RenderBody()
            <div style="display: block; height: 100px;"></div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" id="atouserinfo" href="/UserInfo/Index">
            <span class="mui-icon iconfont icon-shouyeshouye"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" id="atogoods" href="/Home/Index">
            <span class="mui-icon iconfont icon-dianpu"></span>
            <span class="mui-tab-label">商品</span>
        </a>
        <a class="mui-tab-item" id="atocart" href="/Cart/List">
            <span class="mui-icon iconfont icon-gouwuche icon-cart small"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" id="atoorder" href="/Order/OrderList">
            <span class="mui-icon iconfont icon-dingdan icon-order"></span>
            <span class="mui-tab-label">订单</span>
        </a>
    </nav>
    <div id="popover" class="mui-popover">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell"><a href="/Order/List?type=2">全部订单</a></li>
                    <li class="mui-table-view-cell"><a href="/Order/List?type=1">已完成订单</a></li>
                    <li class="mui-table-view-cell"><a href="/Order/List?type=0">未完成订单</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="popover-address" class="mui-popover">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell"><a href="/Address/List">配送地址</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        mui('.mui-scroll-wrapper').scroll({
            deceleration: 0.0010
        });

        // 判断是否有商品在购物车上
        function IsanythingOnShoppingCar() {
            $.ajax({
                url: "/Cart/Check",
                type: "POST",
                data: {},
                success: function (data) {
                    if (data.code == true && data.count > 0) {
                        $(".icon-cart").append("<span class=\"mui-badge navbar-badge\">" + data.count + "</span>");
                    }
                }
            });
        };

        // 判断是否有未完成的订单
        function HasUnCompletedOrders() {
            $.ajax({
                url: "/Order/Check",
                type: "POST",
                data: {},
                success: function (data) {
                    if (data == "True") {
                        $(".icon-order").append("<span class=\"mui-badge navbar-badge\"></span>");
                    }
                }
            })
        }

        $(document).ready(function () {
            IsanythingOnShoppingCar();
            HasUnCompletedOrders();
        });

        // 页面跳转操作

        mui('.mui-bar').on('tap', 'a', function () {
            document.location.href = this.href;
        });

        document.addEventListener('touchmove', function (e) { e.preventDefault() }, false);
    </script>
</body>
</html>
