<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/mui.min.js"></script>
    <script src="~/Content/js/mui.picker.js"></script>
    <script src="~/Content/js/mui.poppicker.js"></script>

    <style>
        .navbar-fixed-bottom {
            height: 32px;
        }

            .navbar-fixed-bottom button {
                border-radius: 0px;
                border: none;
                background-color: #e5e3e3;
            }

        .hasOrders {
            display: block;
            background: #f00;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            top: 10px;
            right: 20px;
            position: absolute;
        }

        .mui-bar-nav {
            background-color: #ffffff !important;
        }
    </style>
</head>
<body>
    <div class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            @RenderBody()
            <div style="display: block; height: 100px;"></div>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" href="/UserInfo/Index" id="atouserinfo">
            <span class="mui-icon iconfont icon-shouyeshouye"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="/Home/Index" id="atohome">
            <span class="mui-icon iconfont icon-dianpu"></span>
            <span class="mui-tab-label">商城</span>
        </a>
        <a class="mui-tab-item" href="/Car/List" id="atocar">
            <span class="mui-icon iconfont icon-car"></span>
            <span class="mui-tab-label">爱车</span>
        </a>
        <a class="mui-tab-item" href="/UserInfo/Info" id="atoinfo">
            <span class="mui-icon mui-icon-person" id="atoperson"></span>
            <span class="mui-tab-label">个人</span>
        </a>
    </nav>
    <script>
        mui('.mui-scroll-wrapper').scroll();

        mui(".mui-bar").on("tap", "a", function () {
            window.location.href = this.href;
        });
        //function Go(url) {
        //    window.location.href = url;
        //};
        //var atohome = document.getElementById("atohome");
        //var atocar = document.getElementById("atocar");
        //var atouserinfo = document.getElementById("atouserinfo");
        //var atoinfo = document.getElementById("atoinfo");

        //atohome.addEventListener('tap', function () {
        //    Go(atohome.getAttribute("href"));
        //});
        //atocar.addEventListener('tap', function () {
        //    Go(atocar.getAttribute("href"));
        //});
        //atouserinfo.addEventListener('tap', function () {
        //    Go(atouserinfo.getAttribute("href"));
        //});
        //atoinfo.addEventListener('tap', function () {
        //    Go(atoinfo.getAttribute("href"));
        //});
    </script>
</body>
</html>
