<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/css/mui.picker.min.css" rel="stylesheet" />
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/mui.min.js"></script>
    <script src="~/Content/js/mui.picker.js"></script>
    <script src="~/Content/js/mui.poppicker.js"></script>
    <style>
        .navbar-fixed-bottom {
            height: 32px;
        }

            .navbar-fixed-bottom button {
                border-radius: 0px;
                border: none;
                background-color: #e5e3e3;
            }

        .hasOrders {
            display: block;
            background: #f00;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            top: 10px;
            right: 20px;
            position: absolute;
        }

        .mui-bar-nav {
            background-color: #ffffff;
        }
        .navbar-badge{
            width:15px;
            height:15px;
        }
        
			#popover {
				height: 165px;
				width: 130px;
                padding:0px;
			}
            #popover .mui-scroll-wrapper{
                margin-top:0px;
                margin-bottom:0px;
                background-color:#fff;
            }
            #popover .mui-scroll-wrapper ul,#popover .mui-scroll-wrapper ul li{
                background-color:#fff;
            }
            #popover .mui-scroll-wrapper ul li a{
                border:none;
                text-decoration:none;
            }
    </style>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">@ViewBag.Title</h1>
    </header>
    <div class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            @RenderBody()
            <div style="display: block; height: 100px;"></div>
        </div>
    </div>

    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" id="atohome" href="/Home/Index">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" id="atocart" href="/Cart/List">
            <span class="mui-icon iconfont icon-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" id="atoorder" href="#popover">
            <span class="mui-icon mui-icon-bars icon-order"></span>
            <span class="mui-tab-label">订单</span>
        </a>
        <a class="mui-tab-item" id="atosetting" href="/Setting/Index">
            <span class="mui-icon mui-icon-gear"></span>
            <span class="mui-tab-label">设置</span>
        </a>
    </nav>
    <div id="popover" class="mui-popover">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell"><a href="/Order/List?type=2">全部订单</a></li>
                    <li class="mui-table-view-cell"><a href="/Order/List?type=1">已完成订单</a></li>
                    <li class="mui-table-view-cell"><a href="/Order/List?type=0">未完成订单</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        mui('.mui-scroll-wrapper').scroll();

        // 判断是否有商品在购物车上
        function IsanythingOnShoppingCar() {
            $.ajax({
                url: "/Cart/Check",
                type: "POST",
                data: {},
                success: function (data) {
                    if (data == "True") {
                        $(".icon-cart").append("<span class=\"mui-badge navbar-badge\"></span>");
                    }
                }
            });
        };

        // 判断是否有未完成的订单
        function HasUnCompletedOrders() {
            $.ajax({
                url: "/Order/Check",
                type: "POST",
                data: {},
                success: function(data) {
                    if (data == "True") {
                        $(".icon-order").append("<span class=\"mui-badge navbar-badge\"></span>");
                    }
                }
            })
        }

        $(document).ready(function () {
            IsanythingOnShoppingCar();
            HasUnCompletedOrders();
        });

        // 页面跳转操作
        function Go(url) {
            window.location.href = url;
        };
        var atohome = document.getElementById("atohome");
        var atocart = document.getElementById("atocart");
        var atoorder = document.getElementById("atoorder");

        atohome.addEventListener('tap', function () {
            Go(atohome.getAttribute("href"));
        });
        atoorder.addEventListener('tap', function () {
            Go(atoorder.getAttribute("href"));
        });
        atocart.addEventListener('tap', function() {
            Go(atocart.getAttribute("href"));
        })
    </script>
</body>
</html>
