<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/css/mui.picker.min.css" rel="stylesheet" />
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/mui.min.js"></script>
    <script src="~/Content/js/mui.picker.js"></script>
    <script src="~/Content/js/mui.poppicker.js"></script>
    <style>
        .navbar-fixed-bottom {
            height: 32px;
        }

            .navbar-fixed-bottom button {
                border-radius: 0px;
                border: none;
                background-color: #e5e3e3;
            }

        .hasOrders {
            display: block;
            background: #f00;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            top: 10px;
            right: 20px;
            position: absolute;
        }

        .mui-bar-nav {
            background-color: #ffffff;
        }
        .mui-badge{
            width:16px;
            height:16px;
        }
    </style>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">@ViewBag.Title</h1>
    </header>
    <div class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            @RenderBody()
            <div style="display: block; height: 100px;"></div>
        </div>
    </div>
    @*<nav class="navbar navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" id="btn_home" class="btn btn-default" onclick="javascript:window.location='/Home/Index'">
                                <img style="width:20px;height:20px;" src="~/Content/images/home.png">
                                <p><small>首页</small></p>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="btn_shopping" class="btn btn-default" onclick="javascript:window.location='/Cart/List'">
                                <img style="width:20px;height:20px;" src="~/Content/images/cart.png">
                                <p id="img_shoppingCar"><small>购物车</small></p>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="btn_car" class="btn btn-default" onclick="javascript:window.location='/Order/List'">
                                <img id="img_shoppingCar" style="width:20px;height:20px;" src="~/Content/images/order.png">
                                <p><small>订单</small></p>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="btn_user" class="btn btn-default" onclick="javascript:window.location='/Setting/Index'">
                                <img style="width:20px;height:20px;" src="~/Content/images/setting.png">
                                <p><small>设置</small></p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>*@

    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" id="atohome" href="/Home/Index">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" id="atocart" href="/Cart/List">
            <span class="mui-icon iconfont icon-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" id="atoorder" href="/Order/List">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">订单</span>
        </a>
        <a class="mui-tab-item" id="atosetting" href="/Setting/Index">
            <span class="mui-icon mui-icon-gear"></span>
            <span class="mui-tab-label">设置</span>
        </a>
    </nav>
    <script>
        mui('.mui-scroll-wrapper').scroll();
        function IsanythingOnShoppingCar() {
            $.ajax({
                url: "/Cart/Check",
                type: "POST",
                data: {},
                success: function (data) {
                    if (data == "True") {
                        $(".icon-cart").append("<span class=\"mui-badge\"></span>");
                    }
                }
            });
        };
        $(document).ready(function () {
            IsanythingOnShoppingCar();
        });

        // 页面跳转操作
        function Go(url) {
            window.location.href = url;
        };
        var atohome = document.getElementById("atohome");
        var atocart = document.getElementById("atocart");
        var atoorder = document.getElementById("atoorder");

        atohome.addEventListener('tap', function () {
            Go(atohome.getAttribute("href"));
        });
        atoorder.addEventListener('tap', function () {
            Go(atoorder.getAttribute("href"));
        });
        atocart.addEventListener('tap', function() {
            Go(atocart.getAttribute("href"));
        })
    </script>
</body>
</html>
