
@{
    ViewBag.Title = "Editor";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity
<link href="~/Content/css/content.css" rel="stylesheet" />
<style>
    .input-group {
        margin-bottom: 10px;
    }
    .div-title{
        margin-top:20px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/Home/Index">管理后台</a></li>
            <li class="active">编辑商品分类</li>
        </ol>

        <div class="container-fluid">
            <div class="col-md-12 div-title">
                <ol class="breadcrumb">
                    <li>商品分类</li>
                </ol>
            </div>
            @foreach (var item in ViewData["CategoryList"] as IEnumerable<Category>)
            {
                <div class="input-group col-xs-3">
                    <input type="text" class="form-control" name="categoryName" id="@item.CategoryNO" value="@item.Name">
                    <select class="form-control" name="isService" id="select_@item.CategoryNO">
                        @if (item.IsService)
                        {
                            <option value="1" selected>服务类型</option>
                            <option value="0">非服务类型</option>
                        }
                        else
                        {
                            <option value="1">服务类型</option>
                            <option value="0" selected>非服务类型</option>
                        }
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" onclick="Save('@item.CategoryNO');" type="button">保存</button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" onclick="Delete('@item.CategoryNO');" type="button">删除</button>
                    </span>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#category-form').bootstrapValidator({
            fields: {
                categoryName: {
                    container: '#error-message'
                }
            }
        });
    });

    function Save(categoryNO) {
        var name = $('#' + categoryNO).val();
        var isService = $('#select_' + categoryNO).val();
        if (typeof (name) === "undefined") {
            alert("提交的数据不能为空");
        }
        else {
            $.ajax({
                url: "/Category/Update",
                type: "POST",
                data: {
                    categoryNO: categoryNO,
                    categoryName: name,
                    isService: isService
                },
                success: function (data) {
                    if (data == "True") {
                        alert("保存成功");
                    }
                    else {
                        alert("保存失败");
                    }
                },
                error: function () {
                    alert("保存失败");
                }
            });
        }
    }

    function Delete(categoryNO) {
        $.ajax({
            url: "/Category/Delete",
            type: "POST",
            data: {
                categoryNO: categoryNO
            },
            success: function (data) {
                alert("删除成功");
                window.location.href = "/Category/List";
            },
            error: function () {
                alert("删除失败");
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        //$("#li-categoryEdit").addClass("a-active");
        $("#li-categoryEdit").parent().parent().removeClass("collapse");
    })
</script>
