
@{
    ViewBag.Title = "会员注册";
    Layout = "~/Views/LayoutPage2.cshtml";
}
<style>
    .mui-button-row {
        text-align: right;
        padding-right: 10px;
    }

    #p-msg {
        float: left;
        margin-top: 5px;
        margin-left: 15px;
        color: #5CB85C;
    }

    .p-success {
        color: #5CB85C;
    }

    .p-error {
        color: #c20000;
    }

    .btn-register {
        height: 40px;
        width: 100%;
    }

    .form-info {
        margin-top: 20px;
    }

    input#code {
        width: 36%;
        padding-left: 0px;
        padding-right: 0px;
    }

    button[type="button"] {
        width: 28% !important;
        margin: 2px 0px;
        border: none !important;
    }

    #button {
        width: 30%;
        float: right;
        display: none;
        background: inherit;
        position: absolute;
        right: 0px;
        z-index: 2;
        border: none;
    }

    #tip {
        padding-top: 10px;
        text-align: center;
        display: none;
    }

        #tip p {
            color: #54CA54;
        }
</style>
<form class="mui-input-group form-info">
    <div class="mui-input-row">
        <label>真实姓名</label>
        <input id='realName' type="text" class="mui-input-clear mui-input" placeholder="请输入真实姓名">
    </div>
    <div class="mui-input-row">
        <label>手机号</label>
        <input id='phone' type="text" class="mui-input-clear mui-input" placeholder="请输入手机号">
    </div>
    <div class="mui-input-row">
        <label>验证码</label>
        <button type="button" class="mui-btn mui-btn-danger" onclick="GetCode();"><span class="span-text">发送验证码</span><span class="span-num" style="display:none">60</span><span class="span-sec" style="display:none;">s</span></button>
        <div id="button" class="mui-btn mui-btn-primary">&nbsp;</div>
        <input id='code' type="text" class="mui-input-clear mui-input" placeholder="请输入验证码">
    </div>
    <div id="tip" class="mui-input-row">
        <p>您的验证码已发送，请稍候···</p>
    </div>
</form>
<div class="mui-content-padded">
    <button id='reg' class="mui-btn mui-btn-danger btn-register" onclick="Register();">提交</button>
</div>
<div class="mui-content-padded">
    <p>发现您没有绑定的您的真实姓名和电话号。只有绑定了才能在此平台上进行任何交易，还不快快绑定。。。</p>
</div>

<script>
    var tim = 60;
    function GetCode() {
        // alert("22");
        $("button[type='button']").css({
            "background":"#ddd",
            "color":"green"
        });

        $(".span-text").text("剩余");
        $(".span-num").show();
        $(".span-sec").show();
        $(".span-num").text(tim);
        setTimeout(dec,1000);
        $("#button").show();
        $("#tip").slideDown();
        var phone = $('#phone').val();
        $.ajax({
            url: '/Register/GetCode',
            type: 'POST',
            data: {
                phone: phone
            },
            success: function (data) {
                if (data != "True") {
                    mui.alert("验证码发送失败,请重试");
                    $(".span-text").html("重新发送");
                    $(".span-num").hide();
                    $(".span-sec").hide();
                    $("button[type='button']").css({
                        "background": "#DD524D",
                        "color": "#fff"
                    });
                    $("#button").hide();
                    $("#tip").slideUp();
                }
            },
            error: function () {
                mui.alert("系统错误，发送验证码失败");
            }
        })
    }

    function dec(){
        var now = $(".span-num").html();
        if(now>0){
            setTimeout(dec,1000);
            now--;
            $(".span-num").html(now);
        }else{
            $(".span-text").html("重新发送");
            $(".span-num").hide();
            $(".span-sec").hide();
            $("button[type='button']").css({
                "background": "#DD524D",
                "color":"#fff"
            });
            $("#button").hide();
            $("#tip").slideUp();
        }
    }
    function Register() {
        $.ajax({
            url: "/Register/Register",
            type: "POST",
            data: {
                realName: $('#realName').val(),
                phone: $('#phone').val(),
                code: $('#code').val()
            },
            success: function (data) {
                if (data == "True") {
                    window.location.href = "/UserInfo/Info";
                }
                else if (data == "CodeError") {
                    mui.alert("输入的验证码错误,请重新输入");
                }
                else if (data == "NameError") {
                    mui.alert("姓名错误,请重新输入");
                }
                else {
                    mui.alert("注册失败");
                }
            },
            error: function () {
                mui.alert("系统错误, 注册失败");
            }
        })
    }

    $(document).ready(function () {
        $(".atouserinfo").addClass("mui-active");
    })
</script>